<router-outlet></router-outlet>
<a href="#" [routerLink]="['/create/']" class="btn btn-success">New GroceryList</a>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let grocerylist of lstGroceryList; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>
      {{ grocerylist.name }}
    </td>
    <td>
          <a href="#" [routerLink]="['/edit', grocerylist.id]" class="btn btn-primary">Edit</a>&nbsp;
          <button class="btn btn-danger" type="button" (click)="deleteGroceryList(grocerylist.id);" >Delete</button>
    </td>

  </tr>
  </tbody>
</table>
